llama_index.core
flask
python-dotenv
llama-index-readers-file
llama-index-embeddings-openai
llama-index-llms-openai
llama-index-vector-stores-milvus
pymilvus
openai
llama_index.vector_stores.pinecone
pinecone
IPython.display